{{ $musicId := (.Get 0) }}
{{ $playerType := default 2 (.Get 1) }} 
{{ $autoPlay := default 0 (.Get 2) }}
{{ $playerHeight := default 66 (.Get 3) }}
{{ $basicQuery := querify "type" $playerType "auto" $autoPlay "height" $playerHeight }}
{{ $musicQuery := querify "id" $musicId }}

<div style="position: relative; text-align: center; height: auto;">
    <iframe
        src="//music.163.com/outchain/player?{{ $musicQuery | safeURL }}&{{ $basicQuery | safeURL }}"
        frameborder="no"
    >
    </iframe>
</div>
