.article-toc {
    margin: 3em;
    font-family: var(--article-font-family);
    color: var(--pre-text-color);

    .article-toc-title {
        margin-top: 3rem;
        font-size: x-large;
        text-align: center;
    }

    li::marker {
        color: var(--accent-color);
        font-size: 1.2em;
    }

    li {
        margin: 1em;
    }
    
    hr {
        height: 1px;
        border-width: 0;
        background-color: gray;
    }
    svg {
        stroke: var(--pre-text-color);
    }
}
