{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
<h2 class="section-title">Friends</h2>


<div class="friends-container">
    {{ range .Site.Params.Friends.Friend }}
    <a class="friends-list" href="{{ .url }}" target="_blank">
        <div class=friend-avatar>
            <img src="{{ .avatar }}" class="friend-avatar-img" alt="{{ .name }}"/>
        </div>
        <div class="friend-info">
            <h2 class="friend-name">
                {{ .name }}
            </h2>
            <p class="friend-desc">
                {{ .desc }}
            </p>
        </div>
    </a>

    {{ end }}
</div>

{{ partialCached "footer/footer" . }}
{{ end }}
