name: NixOS
#concurrency: 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-laptop:  
    runs-on: ubuntu-latest
    steps:
      - name: "Create Dir for Mounting moar Disk Space ❄"
        run: |
          sudo mkdir /nix
      - name: "Maximize Disk Space"
        uses: easimon/maximize-build-space@v6
        with:
          build-mount-path: /nix
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
      - uses: actions/checkout@v3
    
      - name: "Install Nix ❄️"
        uses: cachix/install-nix-action@v18
        with:
          github_access_token: ${{ secrets.TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix flake check
      
      - name: "Install Cachix ❄️"
        uses: cachix/cachix-action@v10
        with:
          name: ruixi-rebirth
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: nix-community          
      
      - name: "Print nixpkgs version ❄️"
        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
      - name: "Build NixOS config ❄️"
        run: |
          nix build .#nixosConfigurations.laptop.config.system.build.toplevel 
      - name: "Check free space"
        run: |
          echo "Free space:"
          df -h
          
        
